extends layout

block content
  h1= "Welcome to Mergely!"
  script(src='bower_components/angular/angular.min.js')
  script(src='bower_components/ng-file-upload/angular-file-upload-shim.min.js')
  script(src='bower_components/ng-file-upload/angular-file-upload.min.js')
  script(src='javascripts/appMain.js')
  div(ng-controller='MainController')
    h2= "Select files here:"
    input(type='file', ng-file-select='onFileSelect($files)')
    input(type='file', ng-file-select='onFileSelect($files)', multiple='multiple')
    div
      {{processPercent}}% preprocessed {{uploadPercent}}% uploaded
